body, html { 
	font-weight: 300!important;
}

/*************************************/
/*** GLOBAL STYLES *******************/
/*************************************/
.hunter-green { background-color: #355e3b !important}

.padding15 { padding: 15px; }
.padding10 { padding: 10px 0px 0px 0px;}

.fullheight { height: 100%; }
.fullwidth { height: 100%; }

/*************************************/
/*** SPECIFIC STYLES *****************/
/*************************************/

/*.mainMapContainer { background: #eee; border: 12px solid #ddd; height: 100vh; }*/
.mainMapContainer { background: #eee; height: 94vh; }

.mapcontainer { background: #eee; }

#main_map { height: 100%; width: 100%; }

.layer a.name { cursor: pointer; font-size: 12px; color: #999;}
.layer a.name:hover { text-decoration: none; color: #fff;}

.layer a.name-thematic { cursor: pointer; font-size: 12px; padding-left: 5px; color: #999;}
.layer a.thematic-hide { cursor: pointer; font-size: 12px; padding-left: 23px; color: #999;}

#pleaseWaitDialog {
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,.8);
	height: 100%;
	width: 100%;
	z-index: 99999;
	color: #eee;	
}

#pleaseWaitDialog div.spinner {  
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 200px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 200px;
	height: 200px;
	text-align: center;
	font-size: 16px;
}

.visibleIndicator { display: inline-block; color: #49B346; width: 14px; }

.panel-body{
	padding: 0px;
}

.panel{
	border: 0px;
	background-color: transparent;
}

/*.close{
	left: 272px !important;
	top: 1px !important;
}*/

.legend{
	max-height: 13px;
	max-width: 13px;
}

.thematic-legend{
	max-height: 11px;
	max-width: 11px;
	margin-left: 5px;
}

.label{
	font-size: 11px;
	color: #C2C2D3;
}

.toolbar{
	background: #eee;
	border: 12px solid #ddd;
	margin-bottom: 0px;
}

.HomeButton, #HomeButton {
  position: absolute;
  top: 10px;
  left: 11px;
  z-index: 50;
  /*background-color: rgba(0, 0, 0, .7) !important;
  color: #fff !important;*/
}

.homeContainer{
	background-color: rgba(0, 0, 0, .7) !important;
  	color: #fff !important;
}

.esriSimpleSliderTL, div.esriSimpleSliderIncrementButton:hover, div.esriSimpleSliderDecrementButton:hover{
	top: 42px !important;
	left: 10px !important;
	background: rgba(0, 0, 0, .7) !important;
	color: #fff !important;
}

.modal-dialog{
	z-index: 9999;
}

button.advancedSearch{
	position: absolute;
	display: block;
	padding: 6px 12px;
	color: #fff;
	background: rgba(0, 0, 0, .7);
	top: 0px;
	right: 0px;
	z-index: 900;
}

select.countyZoom{
	position: absolute;
	display: block;
	padding: 8px 12px;
	color: #fff;
	background: rgba(0, 0, 0, .7);
	top: 0px;
	right: 55px;
	z-index: 900;
	height: 35px;
	border-radius: 0px!important;
	border: none;
}

select.dynamic-select, select.dynamic-select option{
	max-width: 220px;
}

.display-label{
	font-weight: normal;
}

.legend-header{
	padding: 10px 0px 0px 15px;
	color: #fff;
}
	
.row-inline{
	display: inline-flex;
}

ul.sidebar-nav{
	padding-left: 20px !important;
}

#collapse_thematic .panel-body {
	margin-left: 20px;
}

.padding-250{
    padding-left: 250px;
}

.margin-250{
	margin-left: 250px;
}

h2.login, h2.signup{
	text-align: center;
}

div.inventory{
	height: 500px;
	overflow: scroll;
	background: #FFFFFF;
}

.produceSpacer{
	padding-top: 5px;
	padding-bottom: 5px;
}

a.btn-details:hover{
	cursor: pointer;
	color: #ccc;
}

a.btn-details{
	color: #ddd;
}

div.nav-items{
	padding: 15px;
}

div.accountInfo, div.loginInfo{
	max-width: 500px;
	margin: 0 auto;
}

span.accountInfo{
	display: inline-block;;
	width: 150px;
	font-weight: bold;
}

.popoverContent {
  background: #FFFFF0;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  border-radius: 5px;
  padding: 10px;
  margin-top: 8px;
  position: relative;
  color: #666;
  right: -15px;
}

.popoverContent:after {
  right: 15px;
  top: -8px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #999;
  border-width: 8px;
  margin-top: -8px;
}

.website-wrap{
	word-wrap: break-word;
}

.esriPopupPaddingRemover{
	margin-left: -250px;
}

div.titleButton.next, div.titleButton.prev, div.titleButton.maximize{
	display: none !important;
}

div.farmersMarketContent:before{
	content: "View Inventory";
}

/*.sidebar-nav li a{
	display: inline !important;
}
.sidebar-nav li{
	text-indent: 1px !important;
	line-height: 15px !important;
}
.sidebar-nav{
	padding: none !important;
}
.sidebar-nav > .sidebar-brand{
	height: 30px !important;
	line-height: none !important;
	padding: 20px 0px 20px 15px !important;
}*/