.navbar-default {
	background-color: #145d99;
	border-color: none;
}

.navbar { border: none; border-radius: 0px; padding: 0px 10px; height: 50px; }

.navbar-default .navbar-nav>li>a { 
	color: #fff; 
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:after { 
	color: #eee; 
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	color: #eee;
	background-color: transparent;
}

li.map-link { margin-top: -2px; }
li.map-link span {
	position: absolute;
	top: 19px;
	left: 50px;
	width: 90px;
	font-size: 16px;
}

.navbar-nav>li>.dropdown-menu {
	border-radius: 0px!important;
	margin-top: -11px;
	margin-right: 14px;
	box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	border: 1px solid rgba(0,0,0,.1);
}

.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 300;
	line-height: 1.42857143;
	color: #999;
	white-space: nowrap;
	cursor: pointer;
}

h1.page-header, h2.page-header { color: #145d99; margin: 20px 0 10px; font-weight: 300; }
h3.page-header, h4.page-header { color: #888; padding-bottom: 3px; margin: 30px 0 8px; border-bottom: 0px; font-weight: 300; }

.basic-information label {
	font-size: 16px;
	font-weight: 300;
	color: #145d99;
}
.basic-information {
	color: #888!important;
}
.basic-information .editBtn {
	margin-right: 10px;
	font-size: 11px;
}
.basic-information a { color: #145d99!important; }
.basic-information a:hover { text-decoration: none; }

.well { background-color: #fafafa; border-radius: 0px; box-shadow: 0px 0px 2px rgba(0,0,0,.3); border: none; padding-bottom: 8px; }

.currentInventory .nonInventoryItems, .currentInventory .inventoryItems {
	height: 400px;
	overflow: scroll;
	color: #888;
}

.currentInventory .nonInventoryItems.well {
	margin-right: 10px;
}

.currentInventory .inventoryItems.well {
	margin-left: 10px;
}

.currentInventory .col-xs-6 {
	padding: 0px;
}

.currentInventory .inventoryInstructions {
	color: #145d99;
	font-size: 12px;
	margin-bottom: 16px;
}

.currentInventory .produceItem {
	position: relative;
	padding: 5px 8px;
	cursor: pointer;
}

.currentInventory .produceItem .icon-right {
	position: absolute;
	right: 35px;
	color: #aaa;
	font-size: 22px;
	top: 1px;
	opacity: 0;
	transition: all 0.3s ease;
}

.currentInventory .produceItem:hover .icon-right {
	opacity: 1.0;
	right: 10px;
}

.currentInventory a.btn-details {
	position: absolute;
	right: 10px;
	top: 5px;
}

.currentInventory .remove {
	position: absolute;
	right: 15px;
	transition: all 0.5s ease;
	opacity: 0;
	color: #aaa;
	font-weight: 300;
	font-size: 12px;
	top: 7px;
}

.currentInventory .produceItem:hover .remove {
	opacity: 0.8;
	right: 40px;
}

.currentInventory .produceItem:hover{
	background-color: rgba(0,0,0,.02);
}

.currentInventoryItem {
	position: relative;
}

.popoverContent {
  	background: #f6f6f6;
	box-shadow: none;
	border-radius: 0px;
	padding: 10px;
	margin-top: 8px;
	position: absolute;
	color: #666;
	right: -8px;
	top: 20px;
	z-index: 999;
	border: 1px solid #bbb;
}

.popoverContent input {
	border: 1px solid #ddd;
	padding: 5px 10px;
	font-size: 14px;
	color: #888;
}

.popoverContent .btn-sm {
	border-radius: 0px;
	margin-top: -3px;
	height: 31px;
}

.modal-content {
	border-radius: 0px;
	border: none;
	padding: 1px;
}

form.editInfoForm input, form.editInfoForm textarea, form.editInfoForm select {
	border-radius: 0px;
	box-shadow: none;
}

form.editInfoForm .btn-inverse, form.editInfoForm .btn-inverse:hover {
	color: #fff;
	border-radius: 0px;
	margin-top: 15px;
	background: #145d99;
	opacity: .9;
}

form.editInfoForm label {
	color: #145d99;
	font-weight: 400;
	font-size: 16px;
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 65vw;
		margin: 30px auto;
		min-width: 500px;
		max-width: 100vw;
	}
}

@media (min-width: 767px) {
	.modal.in .modal-dialog-sm {
		width: 450px;
		max-width: 100%;
	}
}

@media (max-width: 767px) {
	.navbar-nav .open .dropdown-menu {
		position: relative; 
		float: right; 
		margin-top: -5px; 
		background-color: #fff; 
		box-shadow: 1px 1px 2px rgba(0,0,0,.2);
		border: 1px solid rgba(0,0,0,.1);
	}
}

footer.footer {
	background: #eee;
	color: #145d99;
	font-size: 12px;
	padding: 10px;
}